/*font-family: 'Courier Prime', monospace;*/

body {
    font-family: 'Courier Prime', 'monospace';
}

/*Links*/
a:link{
    color: black;
}
a:visited{
    color: black;
}
a:hover{
    color:gray;
}

/*Div Hidden and Seen */
.hidden{
    display: none;
}
.unhidden{
    display: block;
}

/*Text*/
p{
    size: 150%;
    font-family: 'Courier Prime', 'monospace';
}